<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="treatapp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="hu.bme.mit.trainbenchmark.benchmark.treat.iapp.BenchmarkIApplication">
         </run>
      </application>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="hu.bme.mit.trainbenchmark.benchmark.treat.treatapp"
            name="TrainBenchmark ConstraintCheck TREAT">
         <property
               name="appName"
               value="TrainBenchmark ConstraintCheck TREAT">
         </property>
      </product>
   </extension>

</plugin>
